.carousel-indicators {
  bottom: -60px;
}

.titulo{
  text-align: center;
  padding-top: 20px;
  box-shadow: 5px 0px 5px grey;
}

.nuevas{
  text-align: center;
  padding-top: 40px;
}

.btn.btn-primary{
  background-color: #222831 !important;
  border-color: #222831 !important;
}

.btn.btn-primary:hover{
  background-color: #b55400 !important;
  border-color: #b55400 !important;
}

.card-img-top{
  max-height: 125px !important;
}

.referencias a{
  color: black; 
  text-decoration: none;
}

.referencias a:hover{
  color: #b55400;
}
