body{
    background-color: rgb(236, 236, 236);
}

.social-part .fa{
    padding-right:20px;
}

.navbar-transparent{
    background-color: #22283100 !important;
    transition: all 0.5s ease;
}

.navbar-transparent{
    background-color: #22283100 !important;
    transition: all 0.5s ease;
}

.navbar-solid{
    background-color: #222831 !important;
}

.navbar-solid{
    background-color: #222831 !important;
}

.nav-link{
    color: white !important;
    padding: 10px 30px !important;

}

.nav-link:hover{
    box-shadow: 0 0.5em 0 -0.4em #b55400;
    transform: translateY(-0.25em);
}

.active{
    box-shadow: 0 0.5em 0 -0.4em;
}

a{
    color: #b55400;
}


/* Boton adentro del input */
#mostrar{
    margin-right: 10px;
    float: right;
    cursor: pointer;
}

#mostrar:hover{
    color: #b55400;
}

.buttonIn { 
    width: 300px; 
    position: relative; 
} 
  
#search { 
    position: relative;
    top: 7px;
    margin: 0px; 
    padding: 10px; 
    width: 80%; 
    outline: none; 
    height: 40px; 
} 
  
#btnSearch { 
    position: absolute; 
    right: 0px; 
    top: 8px; 
    height: 40px; 
    cursor: pointer; 
    color: black !important; 
    transform: translateX(-60px); 
} 

#btnSearch:hover{
    color: white !important;
    background-color: #222831;
}
