{% extends "PaginaBlogApp/base/base.html" %}

{% block links %}

<title>Publicacion</title>


<!-- Links de css -->

<link rel="stylesheet" type="text/css" href="/static/blog/post.css">
{% endblock links %}

{% block content %}

<br>

<div class="contenedor">

    <div class="principal">

        <div id="articulo">

            <div class="encabezado">
                <h1>Música para programar en las noches</h1>
                <span>
                    <p><i class="fa fa-pencil-square-o"></i>&nbsp;Jonathan Mejias &nbsp; <i
                            class="fa fa-calendar-check-o"></i> &nbsp; 13 Sept, 2020</p>
                </span>
            </div>

            <div class="parrafo">
                <p>When it comes to handling zip files, Windows users have always had the
                    advantage with WinRAR that automatically helps to extract and compressing zip files. On the
                    other hand, in case of Linux operating systems, users have to either download other compatible
                    tools or perform the operation through command terminal.</p>
            </div>

            <div class="parrafo">
                <span>
                    <h3>LO-FI, musica relajante </h3>
                </span>
                <p>For users who don’t know, a RAR file is a compressed file that is split into a set of multi-volume
                    files. This is usually done in cases where there are large file sets that are needed to be shared
                    or transferred, hence are compressed into a zip file. Similarly, for zip files, when they are
                    transferred or downloaded from the internet need to be extracted. A number of tools are available to
                    help extract and compress these files within seconds, regardless of their size or quantity.</p>
            </div>

            <div class="parrafo">
                <span>
                    <h3>Recomendaciones</h3>
                </span>
                <p>For users who don’t know, a RAR file is a compressed file that is split into a set of multi-volume
                    files. This is usually done in cases where there are large file sets that are needed to be shared
                    or transferred, hence are compressed into a zip file. Similarly, for zip files, when they are
                    transferred or downloaded from the internet need to be extracted. A number of tools are available to
                    help extract and compress these files within seconds, regardless of their size or quantity.</p>

                <div class="audio">
                    <div class="row">

                        <div class="col-md-6 col-sm-12">
                            <h5>Rose - Zerh Beatz</h5>
                            <audio preload="auto" controls>
                                <source src="/static/blog/audio1.mp3" />
                            </audio>

                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h5>E L L L A - Jiem EB</h5>
                            <audio preload="auto" controls>
                                <source src="/static/blog/audio2.mp3" />
                            </audio>
                        </div>
                    </div>
                </div>
                <br>

                <h5>SUMMERTIME - Childish Gambino</h5>
                <video class="video" width="75%" height="50%" controls>
                    <source src="/static/blog/video1.mp4" type="video/mp4">
                </video>

            </div>

        </div>

    </div>

    <div class="sidebar">

        <div id="relacionados">

            <h4>Articulos relacionados</h4>
            <ul>
                <li><a href="#"> Articulo numero 1</a></li>
                <li><a href="#"> Articulo numero 1</a></li>
                <li><a href="#"> Articulo numero 1</a></li>
                <li><a href="#"> Articulo numero 1</a></li>
                <li><a href="#"> Articulo numero 1</a></li>
                <li><a href="#"> Articulo numero 1</a></li>
                <li><a href="#"> Articulo numero 1</a></li>
            </ul>
        </div>

    </div>

    <div style="clear: both;"></div>

</div>

{% endblock %}