{% extends "PaginaBlogApp/base/base.html" %}

{% block links %}

<title>Busqueda en reddit</title>

<!-- Links de css -->

<link rel="stylesheet" type="text/css" href="/static/blog/reddit.css">
<link rel="stylesheet" type="text/css" href="/static/blog/blogcard.css">
{% endblock links %}

{% block content %}

{% if articulos %}
<br>
<h1>Resultados para: '{{busqueda}}'</h1>
{% for art in articulos %}

<div class="container ">
    <div class="row">
        <div class="col-12">
            <article class="blog-card">
                <div class="blog-card__info">
                    <h5>{{art.0}}</h5>
                    <p>
                        <a href="#" class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i> &nbsp; {{art.1}}</a>
                    <p href="#" class="icon-link"><i class="fa fa-sort-numeric-desc"></i> &nbsp; {{art.2}}</p>
                    </p>
                    <p>
                        {{art.3}}
                    </p>
                    <a href="{{art.3}}" class="btn btn--with-icon" target="_blank"><i
                            class="btn-icon fa fa-long-arrow-right"></i>Seguir leyendo...</a>
                </div>
            </article>
        </div>
    </div>
</div>

{% endfor %}

{% else %}
<br>
<h1>No se encontraron resultados para: '{{busqueda}}'</h1>
<h3>Verifique que no haya ningún error grámatico</h3>
{% endif %}
<br>
{% endblock %}