img#body-img{
    width: 100%;
}

#map {
	height: 350px;
	width: 100%;
}

/* Container for skill bars */
.contenedor {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 5px; /* Add top padding */
  padding-bottom: 5px; /* Add bottom padding */
  color: white; /* White text color */
}

.java {width: 80%; background-color: #393e46;} /* Green */
.csharp {width: 70%; background-color: #393e46;} /* Blue */
.py {width: 55%; background-color: #393e46;} /* Red */
.html {width: 50%; background-color: #393e46;} /* Dark Grey */
.css {width: 50%; background-color: #393e46;} /* Dark Grey */