img#body-img{
    width: 100%;
}

#map {
	height: 350px;
	width: 100%;
}

.contenedor {
  width: 100%; 
  background-color: #ddd; 
}

.skills {
  text-align: right; 
  margin: 20px 0;
  padding-top: 5px; 
  padding-bottom: 5px;
  padding-right: 5px;
  color: white; 
}

.java {width: 80%; background-color: #393e46;} 
.csharp {width: 70%; background-color: #393e46;} 
.py {width: 55%; background-color: #393e46;} 
.html {width: 50%; background-color: #393e46;}
.css {width: 45%; background-color: #393e46;} 