{% extends "PaginaBlogApp/base/base.html" %}

{% block links %}

<title>Sobre nosotros</title>


<!-- Links de css -->

<link rel="stylesheet" type="text/css" href="/static/aboutus/aboutus.css">
{% endblock links %}

{% block content %}

<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <h1>Historia:</h1>
      <p class="text-justify">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged.
      </p>
    </div>
    <div class="col-md-4 col-sm-12">
      <img id="body-img" src="/static/aboutus/company.jpg" alt="">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h1>Instalaciones:</h1>
      <!--Galeria-->
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <img id="body-img" src="/static/aboutus/g1.jpg" alt="">
          </div>
          <div class="col-md-4 col-sm-12">
            <img id="body-img" src="/static/aboutus/g2.jpg" alt="">
          </div>
          <div class="col-md-4 col-sm-12">
            <img id="body-img" src="/static/aboutus/g3.jpg" alt="">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <img id="body-img" src="/static/aboutus/g3.jpg" alt="">
          </div>
          <div class="col-md-4 col-sm-12">
            <img id="body-img" src="/static/aboutus/g1.jpg" alt="">
          </div>
          <div class="col-md-4 col-sm-12">
            <img id="body-img" src="/static/aboutus/g2.jpg" alt="">
          </div>
        </div>
      </div>
      <!--Galeria-->
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h1>Ubicación:</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <br>
      <div id="map">

      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <br>
      <h4>Horario de atención:</h4>
      <p>Lunes - Viernes --> 7:00 a.m / 4:30 p.m</p>
      <p>Sábados --> 8:00 a.m / 3:30 p.m</p>
      <p>Domingos --> Cerrado</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h1>Desarrollador a cargo:</h1>
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-3" id="me">
            <!--  -->
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h3 class="card-title mb-0">Jonathan Mejías</h3>
              <p class="card-text text-muted mt-0">Contacto:&nbsp;<a class="text-muted" id="mailto" href="mailto:jmejias986@gmail.com">jmejias986@gmail.com</a></p>
              <p class="card-text text-justify">Estudiante de la carrera de Ingeniería del Software en la Universidad
                Técnica Nacional
                de Costa Rica. Actualmente desarrollando este sitio web como parte del proyecto del curso
                Aplicaciones Web.</p>
              <h4>Habilidades:</h4>
              <div class="contenedor">
                <div class="skills java">JAVA</div>
              </div>
              <div class="contenedor">
                <div class="skills csharp">C#</div>
              </div>
              <div class="contenedor">
                <div class="skills py">PYTHON</div>
              </div>
              <div class="contenedor">
                <div class="skills html">HTML</div>
              </div>
              <div class="contenedor">
                <div class="skills css">CSS</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
<br>

<script src="/static/aboutus/mapa.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkkaYBtfMlFk457_o0LWTgJZVJGZE-bYY&callback=getLocation"></script>


{% endblock %}