{% extends "PaginaBlogApp/base/base.html" %}

{% block links %}

<!-- Links de css -->

<link rel="stylesheet" type="text/css" href="/static/contact/form.css?rnd&23">

{% endblock links %}


{% block content %}

<br><br>

<h1 class="text-center">Contactanos</h1>
<p class="text-center h3">Dejanos tus datos y nos pondremos en contacto pronto.</p>
<br>

<div class="container">

  <form id="formulario" method="POST"> {% csrf_token %}
    <div class="form-row">
      <div class="col-sm-12 col-md-4">
        <label for="nombre">Nombre</label>
        <input type="text" required id="nombre" name="to_name" placeholder="Escriba su nombre">
      </div>
      <div class="col-sm-12 col-md-4">
        <label for="apellido">Apellidos</label>
        <input type="text" required id="apellido" name="to_last_name" placeholder="Escriba sus apellidos">
      </div>
      <div class="col-sm-12 col-md-4">
        <p>Fecha de Nacimiento</p>
        <input type="date" class="form-control h-50" id="fecha" placeholder="Ingrese su fecha de nacimiento"
          name="to_date" required>
      </div>
    </div>
    <br>
    <div class="form-row">
      <div class="col-sm-12 col-md-6">
        <label for="mail">E-Mail</label>
        <input type="email" required id="mail" name="to_email" placeholder="123@ejemplo.com">
      </div>

      <div class="col-sm-12 col-md-6">
        <p>Seleccione su grado acádemico</p>
        <select id="GradoAcademico" class="form-control h-50" name="to_grade" required>
          <option>--Seleccione--</option>
          <option value="Escuela">Escuela</option>
          <option value="Colegio">Colegio</option>
          <option value="Diploma">Diploma</option>
          <option value="Bachillerato">Bachillerato</option>
        </select>
      </div>
    </div>
    <br>
    <div class="form-row">
      <div class="col-sm-12 col-md-6">
        <p>Seleccione su género:</p>

        &nbsp;&nbsp;&nbsp;
        <input class="form-check-input" type="radio" name="to_gender" id="inputRadioMasculino" value="Masculino"
          required>
        <label class="form-check-label" for="radioMasculino">Masculino</label>

        &nbsp;&nbsp; &nbsp;&nbsp;

        <input class="form-check-input" type="radio" name="to_gender" id="inputRadioFemenino" value="Femenino"
          required>
        <label class="form-check-label" for="radioFemenino">Femenino</label>
      </div>

    </div>
    <br>

    <div class="form-row">
      <div class="col-sm-12 col-md-12">
        <input id="btn1" type="submit" value="Enviar">
      </div>
    </div>
  </form>

</div>

<br>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>

<script type="text/javascript">
  emailjs.init('user_H01U9FjKf40JH6PIrgRMi')
</script>
<script src="/static/contact/correo.js"></script>
{% endblock %}