{% extends "PaginaBlogApp/base/base.html" %}

{% block links %}

<title>Inicio</title>


<!-- Links de css -->

<link rel="stylesheet" type="text/css" href="/static/home/home.css">

{% endblock links %}



{% block content %}


<header>

  <div class="hero-image">
    <div class="hero-text">
      <h1>JMejx Blogs</h1>
      <p>Contenido exclusivo y de calidad. Sin costo alguno.</p>
    </div>
  </div>

</header>

<hr>

<div>

  <div class="hero-image-1">
    <div class="hero-text-1">
      <h1>Diferentes Culturas</h1>
      <p>Lee sobre diferentes actividades alrededor del mundo.</p>
    </div>
  </div>

</div>

<hr>

<div>

  <div class="hero-image-2">
    <div class="hero-text-2">
      <h1>Articulos Variados</h1>
      <p>Explora diversos temas, desde arte hasta tecnología.</p>
    </div>
  </div>

</div>

<hr>

<div>

  <div class="hero-image-3">
    <div class="hero-text-3">
      <h1>Suscribirse</h1>

      <table>
        <tr>
          <th style="width:50%">Caracteristicas</th>
          <th>Free</th>
          <th>Pro</th>
        </tr>
        <tr>
          <td>Recibir articulos al correo.</td>
          <td><i class="fa fa-remove"></i></td>
          <td><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Acceso a todo los articulos.</td>
          <td><i class="fa fa-remove"></i></td>
          <td><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Acceso limitado a ciertos articulos.</td>
          <td><i class="fa fa-check"></i></td>
          <td><i class="fa fa-remove"></i></td>
        </tr>
        <tr>
          <td>Mensajes con los autores.</td>
          <td><i class="fa fa-remove"></i></td>
          <td><i class="fa fa-check"></i></td>
        </tr>
      </table>
      <button class="btn">Recibir precios al correo</button>
      <br style="clear: both;">
    </div>
    <br style="clear: both;">
  </div>
  <br style="clear: both;">
</div>
<br style="clear: both;">
{% endblock %}