{% extends "PaginaBlogApp/base/base.html" %}

{% block links %}

<title>Inicio</title>


<!-- Links de css -->

<link rel="stylesheet" type="text/css" href="/static/home/home.css">

{% endblock links %}



{% block content %}


<header>

  <div class="hero-image">
    <div class="hero-text">
      <h1>Blogs Genericos</h1>
      <p>Contenido exclusivo y de calidad. Sin costo alguno.</p>
    </div>
  </div>

</header>

<hr>

<div>

  <div class="hero-image-1">
    <div class="hero-text-1">
      <h1>Diferentes Culturas</h1>
      <p>Lee sobre diferentes actividades alrededor del mundo.</p>
    </div>
  </div>

</div>

<hr>

<div>

  <div class="hero-image-2">
    <div class="hero-text-2">
      <h1>Articulos Variados</h1>
      <p>Explora diversos temas, desde arte hasta tecnología.</p>
    </div>
  </div>

</div>

<hr>

<div>

  <div class="hero-image-3">
    <div class="hero-text-3 table-responsive-sm">
      <h1>Suscribirse</h1>

      <table class="table">
        <tr>
          <th scope="col" style="width:50%">Caracteristicas</th>
          <th scope="col">Free</th>
          <th scope="col">Pro</th>
        </tr>
        <tr>
          <td scope="row">Recibir articulos al correo.</td>
          <td><i class="fa fa-remove"></i></td>
          <td><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td scope="row">Acceso a todo los articulos.</td>
          <td><i class="fa fa-remove"></i></td>
          <td><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td scope="row">Acceso limitado a ciertos articulos.</td>
          <td><i class="fa fa-check"></i></td>
          <td><i class="fa fa-remove"></i></td>
        </tr>
        <tr>
          <td scope="row">Mensajes con los autores.</td>
          <td><i class="fa fa-remove"></i></td>
          <td><i class="fa fa-check"></i></td>
        </tr>
      </table>
      <button class="btn">Recibir precios al correo</button>
    </div>
  </div>
</div>
{% endblock %}