{% extends "PaginaBlogApp/base/base.html" %}

{% block links %}

<!-- Links de css -->

<link rel="stylesheet" type="text/css" href="../../../media/home/home.css">

{% endblock links %}



{% block content %}


<header>

  
</header>

<hr>

<div>

  <div class="hero-image-1">
    <div class="hero-text-1">
      <h1>Diferentes Culturas</h1>
      <p>Lee sobre diferentes actividades alrededor del mundo.</p>
    </div>
  </div>

</div>

<hr>

<div>

  <div class="hero-image-2">
    <div class="hero-text-2">
      <h1>Articulos Variados</h1>
      <p>Explora diversos temas, desde arte hasta tecnología.</p>
    </div>
  </div>

</div>

<hr>

{% endblock %}